#Liste des erreurs courantes.

ErrorDocument 400 /index.php
ErrorDocument 401 /index.php
ErrorDocument 402 /index.php
ErrorDocument 403 /index.php
ErrorDocument 404 /index.php
ErrorDocument 405 /index.php
ErrorDocument 500 /index.php
ErrorDocument 501 /index.php
ErrorDocument 502 /index.php
ErrorDocument 503 /index.php
ErrorDocument 504 /index.php
ErrorDocument 505 /index.php


# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

# Empêcher les boucles infinies
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# On remplace /pro par index.php?pro
RewriteRule /?pro/?(en|fr)$ /index.php?lang=$1&pro [L]
RewriteRule /?(pro)$ /index.php?pro [L]

# On remplace /en ou /fr par index.php?lang=en
RewriteRule /?(en|fr)$ /index.php?lang=$1 [L]

