#Liste des erreurs courantes.

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

# Empêcher les boucles infinies
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]

RewriteCond %{THE_REQUEST} ^.*/index\.php
RewriteRule ^(.*)index.php(.*)$ /$1 [R=301,L]

ErrorDocument 400 /erreur.php
ErrorDocument 401 /erreur.php
ErrorDocument 402 /erreur.php
ErrorDocument 403 /erreur.php
ErrorDocument 404 /erreur.php
ErrorDocument 405 /erreur.php
ErrorDocument 500 /erreur.php
ErrorDocument 501 /erreur.php
ErrorDocument 502 /erreur.php
ErrorDocument 503 /erreur.php
ErrorDocument 504 /erreur.php
ErrorDocument 505 /erreur.php

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# On remplace /pro par index.php?pro
RewriteRule /?pro/?(en|fr|it)$ /index.php?lang=$1&pro [L]
RewriteRule /?(pro)$ /index.php?pro [L]

# On remplace /en ou /fr par index.php?lang=en
RewriteRule /?(en|fr|it)$ /index.php?lang=$1 [L]

# Gestion des pages de l'appli
RewriteRule /?(login|register)$ /app.php?page=$1 [L]
